@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scrollbar-gutter: stable;
	overflow: hidden scroll;
	touch-action: pan-y;
}

html,
body {
	margin: 0;
	color-scheme: dark;
}

body {
	font-family: 'Inter', sans-serif;
	height: 100%;
}

.xxx {
	border: solid 1px cyan;
	background-color: rgba(0, 255, 255, 0.2);
}